@model Wiki.Models.Biz.ConnexionViewModel

@{
    ViewBag.Title = "Connexion";
}


@section gauche {
    @*@Html.Action("TableDesMatieres", "Home")*@
    @Html.Action("PartialTableDesMatieres", "Home")  @*action va dans le controleur tandis que partial n'y va pas*@
}
<h2>@Wiki.Ressource.RessourceView.ZHC_menu_conn</h2>


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Connexion", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                <h4></h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
     
                    @Html.LabelFor(m => m.Courriel, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Courriel, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Courriel)
               
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.MDP, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.MDP, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MDP)
                        <p>@ViewBag.error</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Se connecter" class="btn btn-default" />
                    </div>
                </div>
                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                <p>
                    @Html.ActionLink(Wiki.Ressource.RessourceView.ZHC_menu_ins, "Inscription") @Wiki.Ressource.RessourceView.ZHC_connexion_compte
                </p>
            }
        </section>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
