@model Wiki.Models.Biz.InscriptionViewModel

@{
    ViewBag.Title = "Inscription";
}

@section gauche {
    @*@Html.Action("TableDesMatieres", "Home")*@
    @Html.Action("PartialTableDesMatieres", "Home")  @*action va dans le controleur tandis que partial n'y va pas*@
}

<h2>@Wiki.Ressource.RessourceView.ZHC_menu_ins</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Courriel, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
            <div class="col-xs-10 col-sm-8">
                @Html.EditorFor(model => model.Courriel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Courriel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomFamille, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
            <div class="col-xs-10 col-sm-8">
                @Html.EditorFor(model => model.NomFamille, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomFamille, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prenom, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
            <div class="col-xs-10 col-sm-8">
                @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Langue, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
            <div class="col-xs-6 col-sm-4">
                @Html.DropDownListFor(model => model.Langue, Model.SelectionLangue, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MDP, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
            <div class="col-xs-10 col-sm-8">
                @Html.EditorFor(model => model.MDP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MDP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MDPConfirmer, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
            <div class="col-xs-10 col-sm-8">
                @Html.EditorFor(model => model.MDPConfirmer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MDPConfirmer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                @*<input type="submit" value="Creer" class="btn btn-default" />*@
                <button type="submit" value="Creer">@Wiki.Ressource.RessourceView.ZHC_bout_creer</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
