@using System.Globalization
@using Wiki
@using System.Threading;

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Prog Web II", "Index", "", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink(@Wiki.Ressource.RessourceView.ZHC_menu_prof, "ModifierProfil", "Account", new { ReturnUrl = this.Request.RawUrl }, null)  <text>&nbsp; &nbsp;</text></li>
                    <li>@Html.ActionLink(@Wiki.Ressource.RessourceView.ZHC_menu_dec, "Deconnexion", "Account")</li>
                }
                else
                {
                    <li>@Html.ActionLink(@Wiki.Ressource.RessourceView.ZHC_menu_ins, "Inscription", "Account")   <text>&nbsp; &nbsp;</text></li>
                    <li>@Html.ActionLink(@Wiki.Ressource.RessourceView.ZHC_menu_conn, "Connexion", "Account", new { ReturnUrl = this.Request.RawUrl }, null)</li>
                }
            </ul>
            <div class="nav navbar-nav navbar-right">
               <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span>  Langues  </a>
                        @{
                            CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Home/ChangeCurrentCulture/0">Francais</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item" href="/Home/ChangeCurrentCulture/1">Anglais</a></li>
                                <li class="divider"></li>
                                <li><a class="dropdown-item" href="/Home/ChangeCurrentCulture/2">Espagnol</a></li>
                            </ul>
                        }
                    </li>
             
            </div>



        </div>
    </div>
</div>
