<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Prog Web II", "Index", "", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Profil", "ModifierProfil", "Account", new { ReturnUrl = this.Request.RawUrl }, null)  <text>&nbsp; &nbsp;</text></li>
                    <li>@Html.ActionLink("Deconnexion", "Deconnexion", "Account")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Inscription", "Inscription", "Account")   <text>&nbsp; &nbsp;</text></li>
                    <li>@Html.ActionLink("Connexion", "Connexion", "Account", new { ReturnUrl = this.Request.RawUrl }, null)</li>
                }
            </ul>
        </div>
    </div>
</div>

