@model Wiki.Models.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "modifier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section gauche {
    @*@Html.Action("TableDesMatieres", "Home")*@
    @Html.Action("PartialTableDesMatieres")  @*action va dans le controleur tandis que partial n'y va pas*@
}


<h2>@Wiki.Ressource.RessourceView.ZHC_modif</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Wiki.Ressource.RessourceView.ZHC_article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*C'est notre primary Key.. donc doit être disabled*@
                @Html.HiddenFor(model => model.Titre)
                @Html.TextBox(@Wiki.Ressource.RessourceView.Titre, Model.Titre, new { @class = "form-control", disabled = "true" })
                @*@Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contenu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*MOD SB TEXTAREAFOR*@
                @Html.TextAreaFor(model => model.Contenu, 8, 36, new { htmlAttributes = new { @class = "form-control" } })             
                @Html.ValidationMessageFor(model => model.Contenu, "", new { @class = "text-danger" })
            </div>
        </div>

    @{ if (ViewBag.ApercuContenu == true) {
            <div class="form-group">
                @Html.Label(@Wiki.Ressource.RessourceView.vHC_Ajout_apercuContHtml, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @* APERCU DE L'ARTICLE EN DESSOUS DE LA ZONE D'ÉDITION *@
                    @Html.Raw(HttpUtility.HtmlDecode(Model.Contenu))
                </div>
            </div>
       }
    }

        <div class="form-group">
            @Html.LabelFor(model => model.DateModification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.DateModification)
                @Html.TextBox(@Wiki.Ressource.RessourceView.DateModification, Model.DateModification, new { @class = "form-control", disabled = "true" })
                @*@Html.EditorFor(model => model.DateModification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateModification, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Revision, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Revision)
                @Html.TextBox(@Wiki.Ressource.RessourceView.Revision, Model.Revision, new { @class = "form-control", disabled = "true" })
                @*@Html.EditorFor(model => model.Revision, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Revision, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdContributeur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdContributeur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdContributeur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" name="operation" value=@Wiki.Ressource.RessourceView.vHC_Ajout_apercuHtml class="btn btn-default" /> 
                <span> | </span>
                <input type="submit" name="operation" value=@Wiki.Ressource.RessourceView.ZHC_enregist class="btn btn-default" />*@
                <button type="submit" name="operation" value="Html">@Wiki.Ressource.RessourceView.vHC_Ajout_apercuHtml</button>
                <span> | </span>
                <button type="submit" name="operation" value="Enregistrer">@Wiki.Ressource.RessourceView.ZHC_enregist</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Wiki.Ressource.RessourceView.ZHC_Modif_retourPreced, null, null, null, new { href = Request.UrlReferrer })
    @*@Html.ActionLink("Back to List", "Index")*@
</div>
